/* CSS FOR COLOFT CHECKIN


*/

table.checkinvisual, caption.checkinvisual, td.checkinvisual, tr.checkinvisual, th.checkinvisual {
	margin:0;
	padding:0;
	font-weight:normal;
}
/*
table {
	border-collapse:collapse;
	margin-bottom:15px;
	width:90%;
	}

table td, table th {
	padding:5px;
	border:1px solid #fff;
	border-width:0 1px 1px 0;
	}

*/

th.checkinvisual {
	padding-bottom: 10px;
	padding-top: 40px;
	font-size: 100px;
	color: #000;
	background:#eeeeee;
	text-align: center;
}

td.checkinvisual {
	padding: 5px;
}


tbody.row8, .row3 {
	background: #7baaab;
}

tbody.row9, .row4 {
	background: #a7cfd0;
}

tbody.row10, .row5 {
	background: #7e87a4;
}

tbody.row11, .row6 {
	background: #3a585c;
}

tbody.row12, .row7 {
	background: #d9d8b7;
}

tbody.row1 {
	background: #adbab8;
}

tbody.row2 {
	background: #635387;
}

.member {
	font-size: 16px;
	text-align:center;
	line-spacing: 0;
}